.side-bar
  .user-name
    .top-item
      .top-item__name
        masa
      .top-item__icons
        .top-item__icons__edit
          = link_to "#", class: "top-item__icons__edit__btn" do
            = icon('far', 'edit')
        .top-item__icons__cog
          = link_to "#", class: "top-item__icons__cog__btn" do
            = icon('fas', 'cog')
  .group
    .group__name
      techcamp
    .group__message
      まだメッセージがありません