.side-bar {
  height: 100vh;
  width: 300px;
  .user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 16px;
    font-weight: bold;
    .top-item {
      height: 20px;
      width: 260px;
      line-height: 20px;
      display: flex;
      justify-content: space-between;
      &__icons {
        width: 60p;
        display: flex;
        color: $white;
        &__edit {
          margin-right: 5px;
          &__btn{
            color: $white;
          }
        }
        &__cog {
          &__btn {
            color: $white;
          }
        }
      }
    }
  }
  .group {
    height: calc(100% - 100px);
    background-color: #2f3e51;
    &__name {
      color: $white;
      font-size: 15px;
      font-weight: $group-fontweight;
      height: 15px;
      width: $group-width;
      padding: 20px 5px 20px 20px;
    }
    &__message {
      color: $white;
      font-size: 11px;
      font-weight: $group-fontweight;
      height: 20px;
      width: $group-width;
      padding: 0 40px 20px 20px;
    }
  }
}