$white: #ffffff;
$light-blue: #38aef0;
$group-fontweight: bold;
$group-width: 100%;
$chat-width: 220px;
$chat-marginleft: 40px;
$message-fontsize: 16px;
$message-color: #333333;
$message-fontweight: bold;
$date-color: #999999;
$date-fontsize: 12px;